# 项目名称
APP_NAME=fast-api-scaff
# 项目环境
APP_ENV=local
# 是否开启调试
APP_DEBUG=true

# 数据库配置
DB_DRIVERNAME: mysql
DB_ASYNC_DRIVERNAME: mysql+aiomysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fast-api-scaff
DB_USERNAME=root
DB_PASSWORD=123456
DB_CHARSET: utf8mb4

DB_ECHO="${APP_DEBUG}"
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20