# 项目名称
APP_NAME=fast-api-scaff
# 项目环境
APP_ENV=local
# 是否开启调试
APP_DEBUG=true
# 项目端口
APP_PORT=8000
# 服务编码（三位数字，必须唯一）
SERVICE_CODE=001

# ---------- 数据库 ----------
# 默认连接名（对应 config/database.py connections 中的 key）
DB_CONNECTION=mysql

DB_ECHO="${APP_DEBUG}"
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20

# mysql 连接
DB_MYSQL_HOST=127.0.0.1
DB_MYSQL_PORT=3306
DB_MYSQL_DATABASE=fast-api
DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=root
DB_MYSQL_CHARSET=utf8mb4

# pgsql 连接
DB_PGSQL_HOST=127.0.0.1
DB_PGSQL_PORT=5432
DB_PGSQL_DATABASE=fast-api
DB_PGSQL_USERNAME=postgres
DB_PGSQL_PASSWORD=postgres

# sqlite 连接
DB_SQLITE_DATABASE=database/database.sqlite
